2026-07-10 20:22:44,170 - SaarthiApp_logger - INFO - Reading configuration values.
2026-07-10 20:24:19,164 - SaarthiApp_logger - INFO - Reading configuration values.
2026-07-10 20:24:29,235 - SaarthiApp_logger - INFO - Reading configuration values.
2026-07-10 20:26:27,339 - SaarthiApp_logger - INFO - Reading configuration values.
2026-07-10 20:26:39,612 - SaarthiApp_logger - INFO - Reading configuration values.
2026-07-10 21:14:12,157 - SaarthiApp_logger - INFO - Starting up the application...
2026-07-10 21:14:18,321 - SaarthiApp_logger - INFO - Incoming: GET / | Client: 127.0.0.1
2026-07-10 21:14:18,324 - SaarthiApp_logger - INFO - Reading configuration values.
2026-07-10 21:14:18,324 - SaarthiApp_logger - INFO - Completed: GET / | Status: 200 | Duration: 3.41ms
2026-07-10 21:14:48,359 - SaarthiApp_logger - INFO - Shutting down the application...
2026-07-10 21:14:53,453 - SaarthiApp_logger - INFO - Starting up the application...
2026-07-10 21:15:07,821 - SaarthiApp_logger - INFO - Incoming: GET /health | Client: 127.0.0.1
2026-07-10 21:15:07,823 - SaarthiApp_logger - INFO - Performing health check.
2026-07-10 21:15:07,824 - SaarthiApp_logger - INFO - Completed: GET /health | Status: 200 | Duration: 3.07ms
2026-07-10 21:15:08,490 - SaarthiApp_logger - INFO - Incoming: GET /hh | Client: 127.0.0.1
2026-07-10 21:15:08,491 - SaarthiApp_logger - INFO - Completed: GET /hh | Status: 404 | Duration: 1.06ms
2026-07-10 21:21:00,225 - SaarthiApp_logger - INFO - Shutting down the application...
